#Ignore the php files
*.php

#Ignore the xmls files
*.xlsx

#Ignore the images
*.png
*.webp
*.jpg
img/AdobeStock_175219808.jpeg
img/AdobeStock_192039280.jpeg
.gitignore
SEO/~$ммерческие запросы.docx
SEO/138012-406283.doc
SEO/Коммерческие запросы.docx
img/our_works/sofas/uborka-divana.webp
